body{
  font-family:"NSimSun";
  font-size:clamp(22px, 4.5vw, 30px);
  line-height:2;
  background:#fafafa;
}

/* 标题 */
h2{
  font-family:"NSimSun";
  font-size: clamp(36px, 8vw, 60px);
  text-align:center;
  margin:-10px 0 -10px;
  font-weight: bold;
}

h3, h4{
  text-align:center;
  font-family:"NSimSun";
  font-size: clamp(20px, 4vw, 30px);
  margin:-10px 0 -10px;
}

/* 选项区 */
.words{
  text-align:center;
  margin:10px 0 0px;
}

.word{
  font-family:"NSimSun";
  font-weight: bold;
  display:inline-block;
  padding:4px 10px;
  margin:8px 10px;
  border:2px solid #c39bc3;
  border-radius:20px;
  background:#fff0f5;
  cursor:grab;
  min-width:100px;
}

/* 题目区 */
.questions{
  width:650px;
  margin:0 auto;
}

.question{
  font-family:"Times New Roman", Times, "NSimSun";
  font-weight: bold;
  text-align:left;
  margin:5px 0;
}

/* 答案框 */
.blank{
  display:inline-block;
  width:90px;
  height:45px;
  border:2px dashed #999;
  vertical-align:middle;
  text-align:center;
  line-height:45px;
  margin:0 6px;
  background:#fff;
}

/* 提示文字 */
#message{
  font-family:"NSimSun";
  display:inline-block;
  text-align:center;
  margin:5px 0 0px;
  font-size:40px;
  color:#ffa500;
  background:#fff0f5;
  padding:10px 24px;
  border-radius:20px;
}

#message:empty{
  display:none;
}

.message-area{
  text-align:center;
}

/* 按钮 */
.button-area{
  text-align:center;
  margin:10px 0 0px;
}

#resetBtn, #backBtn{
  font-family:"NSimSun";
  padding:10px 25px;
  font-size:30px;
  border-radius:20px;
  border:none;
  cursor:pointer;
}

#resetBtn{
  background:#f08080;
  color:white;
}

#resetBtn:hover{
  background:#d74f4f;
}

#backBtn{
  background:#87CEFA;
  margin-left:20px;
}

#backBtn:hover{
  background:#1E90FF;
}

/* 手机自适应 */
@media (max-width: 650px) {
  .questions{
    width:100%;
  }

  .word{
    font-size:clamp(30px, 3.5vw, 36px);
  }

  .blank{
    width:70px;
    height:40px;
    line-height:40px;
    font-size:clamp(30px, 3.5vw, 36px);
  }

  #resetBtn, #backBtn{
    font-size:7vw;
    padding:5vw 10vw;
  }
}
